.item {
    position: relative;
}

.item::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.226);
    visibility: hidden;
    transition: .5s cubic-bezier(0.23, 1, 0.320, 1);
}

.item:hover::before {
    visibility: visible;
}

.item:hover .icons {
    visibility: visible;
}

.icons {
    z-index: 1;
    visibility: hidden;
}

.icons ul> li {
    transition: all 0.5s ease-in-out;
}

.icons ul> li:hover {
    transform: scale(1.1);
}